<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Andrew Sheahan">
    <meta name="description" content="An app that helps writers develop their ideas">
    
    <title>{% block title %}Invigorate | Energize your writing{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ideas/style.css' %}" />
</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}">Invigorate</a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>Logged in as: {{user}}</li>
                    <li><a href="{% url 'ideas:index' %}">My Ideas</a></li>
                    <li><a href="{% url 'ideas:new' %}">New</a></li>
                    <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next=/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>